.Parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}
button{
    background-color: white;
    color:black;
    padding: 5px;
    
}

.table-container {
    width: 500px;       /* Adjust width */
    max-height: 500px; /* Set a fixed height for the table */
    overflow-y: auto;  /* Enable vertical scrolling */
    border: 2px solid white; /* Optional: adds a border */
    justify-content: center;
    align-items: center;
}

/* Ensures the table stays within the container */
table {
    width: 75%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}
